[ req ]
prompt             = no
distinguished_name = DN

[ DN ]
# The bare minimum is probably a commonName
            commonName = ca.yaoxing.online
           countryName = CN
      organizationName = MongoDB
organizationalUnitName = Professional Service
   stateOrProvinceName = Guangdong
          emailAddress = yaoxing.zhang@yaoxing.online
                  name = Yaoxing Zhang
               surname = Zhang
             givenName = Yaoxing

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = clientAuth,serverAuth