[ req ]
prompt             = no
distinguished_name = DN
req_extensions     = req_ext

[ DN ]
# The bare minimum is probably a commonName
            commonName = mongodb-1.prd-mongodb.svc.cluster.local
           countryName = CN
      organizationName = MongoDB Inc.
organizationalUnitName = Security Dept.
   stateOrProvinceName = Guangdong
          emailAddress = yaoxing.zhang@gmail.com
                  name = Yaoxing Zhang
               surname = Zhang
             givenName = Yaoxing

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = clientAuth,serverAuth

[ alt_names ]
DNS.1 = mongodb-1.prd-mongodb.svc.cluster.local
DNS.2 = mongodb-2.prd-mongodb.svc.cluster.local
DNS.3 = mongodb-3.prd-mongodb.svc.cluster.local
